
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/docker/db/data
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
